<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Tu wpisz opis zawartości strony">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="style.css">
	<title>Wirtualna biblioteka</title>
</head>

<body>

<div class= container>
	<div class = logo>
		<ul class = logonav>
			<li><a href=""><img src = "logo.png" width="155" height="155"></a></li>
			<h1> Witaj w twojej bibliotece</h1>
		</ul>
	</div>
	<div class = nav>
		<ul>
			<li><a th:href="@{/}">Głowna</a></li>
			<li><a th:href="@{/fill}">Dodaj książkę</a></li>
			<li><a th:href="@{/show}">Wyświtla listę</a></li>
		  </ul>
	</div>

<div class = dane>
	<span>Ilośc książek w bibliotece: </span><span th:text="${nrOfBooks}"></span><br>
	<span>Wartość wszystkich książek: </span><span th:text="${#numbers.formatDecimal(sum,1,2,'COMMA')}"> zł</span><br>
	<span>Średnia cena książi: </span><span th:text="${#numbers.formatDecimal(averagePrice,1,2,'COMMA')}"> zł</span><br>
	<span>Ilośc stron wszytstkich książek: </span><span th:text="${pagesSum}"></span><br>
</div>
<div>
	<ul class = stopka>
		<p> Autor:  Patrycja Puchalska (patrycia.puchalska@gmail.com) wszelkie prawa zastrzeżone</p>
		
	</ul>
</p></div>

</div>



</body>
</html>