<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Tu wpisz opis zawartości strony">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="show.css">
	<title>Wirtualna biblioteka</title>
</head>

<body>

<div class= container>
	<div class = logo>
		<ul class = logonav>
			<li><a href=""><img src = "logo.png" width="155" height="155"></a></li>
			<h1> Witaj w twojej bibliotece</h1>
		</ul>
	</div>
	<div class = nav>
		<ul>
			<li><a th:href="@{/}">Głowna</a></li>
			<li><a th:href="@{/fill}">Dodaj książkę</a></li>
			<li><a th:href="@{/show}">Wyświtla listę</a></li>
		  </ul>
	</div>
	<div class = "tabela">
	<table>
		<tr>
			<td>ISBN</td>
			<td>Tytuł</td>
			<td>Autor</td>
			<td>Opis</td>
			<td>Cena</td>
			<td>Ilość stron</td>
			<td></td>
			<td></td>
		</tr>
		<tr th:each="i : ${bookL}">
			<td th:text="${i.isbn}"></td>
			<td th:text="${i.title}"></td>
			<td th:text="${i.author}"></td>
			<td th:text="${i.description}"></td>
			<td th:text="${i.price}"></td>
			<td th:text="${i.pages}"></td>
			<td><a th:href="@{'/bookedit/' + ${i.isbn}}">edytuj</a></td>
			<td><a th:href="@{'/bookremove/' + ${i.isbn}}">usuń</a></td>
		</tr>
	</table>
</div>
<div>
	<ul class = stopka>
		<p> Autor:  Patrycja Puchalska (patrycia.puchalska@gmail.com) wszelkie prawa zastrzeżone</p>
		
	</ul>
</p></div>

</div>



</body>
</html>